<!DOCTYPE html>
<html>
<head>
  <title>High Noon Coaching</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">  
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to 'High Noon Coaching', root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
          <ul class="nav navbar-nav navbar-right">
            <%= link_to 'Home', root_path, class: 'navbar-brand' %>
            <%= link_to 'About', about_path, class: 'navbar-brand' %>
            <%= link_to 'Testimonials', testimonials_path, class: 'navbar-brand' %>
            <%= link_to 'What We Do', whatwedo_path, class: 'navbar-brand' %>
            <%= link_to 'Contact', contact_path, class: 'navbar-brand' %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <br class="clear" />

    <%= yield %>
  </div>

  <br class="clr" />

  <div id="footer">
    <div class="container">
      <b>Contact</b>
      <br />
      <br />
      <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+353 86 822 4165      
      <br />
      <br />
      <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;janine@highnoon.ie
    </div>
  </div>


</body>
</html>
